package layout

import "github.com/f-alotaibi/go-starter/views/modules"

templ Layout() {
	<!DOCTYPE HTML>
	<html class="dark">
		<head>
			<title>go-starter</title>
			<link rel="stylesheet" href="/assets/public/main.css"/>
		</head>
		<body class="min-h-screen">
			<div class="h-full flex flex-col">
                @modules.Navbar()
				<main class="flex-1">
					{ children... }
				</main>
			</div>
		</body>
	</html>
}
